.heading{
    height: 100px;
    line-height: 100px;
    border: 2px solid;
    text-align: center;

    margin-bottom:20px;
}

.heading h1{
    color:brown;
}
.description{
    height: 150px;
    text-align: center;
    border: 2px solid;
    margin-bottom:20px;
}
.description p{
    color: red;
}
.work{
    border: 2px solid;
    text-align: center;
}
.work a{
    font-size: large;
    text-decoration: none;
    text-transform: capitalize;
}
